
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content" style="margin-top:100px">
                <div class="modal-header">
                    <h2 class="modal-title">Satis Ekrani</h2>
                </div>
                <form method="post" >
                    <div class="modal-body">
                        <label class="form-control">Ad</label>
                        
                        <br />
                        <label  class="form-control">SoyAdi</label>
                       
                        <br />
                        <label>Mehsul Sayi</label>
                        
                         
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Ləğv Et</button>
                    </div>
                </form>

            </div>

        </div>


    </div>
